autopep8
certifi
chardet 
cloudinary 
dj-database-url 
Django 
django-cloudinary-storage 
idna 
mock 
Pillow
pycodestyle 
python-decouple
pytz
requests
six
sqlparse
toml
urllib3
whitenoise
psycopg2
psycopg2-binary
gunicorn
django-ckeditor
djangorestframework
